---
layout: page
title: "Culinary School"
description: "masonry"
active: gallery
header-img: "img/gallery-bg.jpg"
album-title: "Culinary School"
youtubeId: flY-vRT4ci0
images:

 - image_path: /gallery/archive/culinary_school/diagrams.jpg
   caption: Cooking Process

 - image_path: /gallery/archive/culinary_school/atrium.jpg
   caption: Atrium

 - image_path: /gallery/archive/culinary_school/dining_room.jpg
   caption: Dining Room

 - image_path: /gallery/archive/culinary_school/exterior_persp.jpg
   caption: Perspective

 - image_path: /gallery/archive/culinary_school/garden.jpg
   caption: Garden
 
 - image_path: /gallery/archive/culinary_school/kitchen.jpg
   caption: kitchen

 - image_path: /gallery/archive/culinary_school/north_elev.jpg
   caption: North Elevation

 - image_path: /gallery/archive/culinary_school/section_persp_1.jpg
   caption: Section

 - image_path: /gallery/archive/culinary_school/section_persp_2.jpg
   caption: Section

 - image_path: /gallery/archive/culinary_school/wall_detail.jpg
   caption: Wall Section

 - image_path: /gallery/archive/culinary_school/ground_floor_plan.jpg
   caption: Ground Floor

 - image_path: /gallery/archive/culinary_school/first_floor_plan.jpg
   caption: First Floor

 - image_path: /gallery/archive/culinary_school/second_floor_plan.jpg
   caption: Second Floor
---

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">
</head>

    <body>
 
	<section id="content" role="main">
		<div class="wrapper">
	<br><br>
			<h2>{{page.album-title}}</h2>
      <p>       
          In this studio the assignment was to design a culinary school Eugene, Oregon. Being on the outskirts of downtown the site is situated along a railway, 
          in order to shelter the community garden space in the center the building takes a U shape. A large atrium is placed at the northwest corner of the site that connects 
          the two multistory wings of the school and provides views to the nearby butte and river as well as views through the atrium to the courtyard. The shape of the atrium takes the
          form of an eight to create two sub-atriums one which responds more to the courtyard and the other more the the prospect of the landscape, being the river and butte. The program
          of the school consists of the ground floor which has its southern edge dedicated to a community dining room, the western edge for community events and services and the north edge
          for administrative offices and a main lecture hall. The first floor is where changing rooms and kitchen classrooms are with the second floor occupying traditional classrooms and
          a large northern rooftop. To develop the circulation around the courtyard each floor has a deck parallel to its interior halls allowing for increased interaction while also
          providing shading especially on the southern edges. To provide shade on the eastern and western sides trellises with deciduous vines shade during summer and allow sun during winter
          while enhancing the verticality of the school. 
      </p>
      
      {% include youtubePlayer.html id=page.youtubeId %}

			<!-- Gallery __-->
			<div class="gallery masonry-gallery">
		
{% for image in page.images %}  		

				<figure class="gallery-item">
					<header class='gallery-icon'>

<a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
<img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
						
					</header>	
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h3>{{image.caption}}</h3>
							<p>{{image.copyright}}</p>
						</div>
					</figcaption>
				</figure>
				
{% endfor %}

			</div>

		</div><!-- END .wrapper -->
	</section>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- include image popups -->
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.baseurl }}/js/modernizr.js"></script>

    <script type="text/javascript">
      $(document).ready(function($) {
        $('a.popup').magnificPopup({
          type: 'image',
	  gallery:{
         enabled:true,
         navigateByImgClick: true,
         preload: [0,1] // Will preload 0 - before current, and 1 after the current image
       },
      image: {
         titleSrc: function(item) {
              return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
            }
        }
          // other options
      });
});
    </script>

</body></html>
